body {
  /*padding: 50px;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

html {
    min-height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.main-container {
    overflow: hidden;
    max-width: 1000px;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    /*background-color: #FFC;*/
    padding: 5%;
}

input#searchbox {
    width: 30%;
    height: 40px;
    margin: 0 auto;
    display: block;
    font-size: 1.75em;
}

#results {
    width: 55%;
    margin: 2% auto;
}
 
#results ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
#results li {
  font: 200 15px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
  list-style: none;
}
 
#results li:last-child {
  border: none;
}
 
#results li:hover {
  font-size: 20px;
  background: #f6f6f6;
}